.mybanner>.img:nth-child(1) {
  background: url("../images/banner3.gif") no-repeat;
  /* height: 100vh; */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

