/* 当屏幕大于576px时候 */
@media screen and (min-width: 576px) {
  #content {
      opacity: 0;
  }

  .navbar-brand img {
      height: 45px !important;
      margin-left:20px;
      margin-top:20px;
  }
  .blank{
      display:none;
  }
 



}

/* 当屏幕大于576px时候结束 */
/* 小屏开始 */
@media (max-width: 575.98px) {
 
  
.blank{ clear:both; overflow:hidden; display:block;
  background-color: black;}
  .nav1{
      background-color:rgba(0,0,0,0.6);
  }

}

/* 小屏结束 */

.nav1{
  position:fixed;
  top:0;
  width: 100%;
  z-index:100;
}
.navbar-brand {
  vertical-align: middle;
}
.clearnav{
  content:""; 
display: block; 
clear: both; 

}